@import "../../styles/colors";
@import "../../styles/gradients";
@import "../../styles/global";
@import "../../styles/fonts";

@import "../common/header/header";
@import "../common/menu/menu";
@import "../common/main/main";
@import "components/logo/logo";
@import "components/snake-animation/snake-animation";
@import "../common/footer/footer";

.main {
  box-sizing: border-box;
  padding: 100px 0px;

  @media #{$media-704} {
    padding: 50px 0px;
  }

  @media #{$media-320} {
    padding: 10px 0px;
  }
}

