a.card(href= card.href)
  .card-image-wrapper
    img.card-image(src= card.src, alt= card.alt)
  .card-text
    h2.card-headline= card.headline
    time.card-article-date(datetime= card.computerTime)= card.userTime
