
body {        font-family: serif;}
.blog {
              font-size: 40px;
              font-size: 40px;
              font-weight: 600;
              font-family: sans-serif;}
.navigation { background-color: #2BC6DC;
              color: white;
              text-align: center;
              padding: 5;
              font-size: 30px;}
.menu-item {  display: inline;
              padding: 0 50 00 50;
              font-family: sans-serif;}
main {        font-size: 14pt;
              text-align: center;}
article {     text-align: center;
              font-size: x-large;
              padding: 20 0 0 0;
              font-style: oblique;}
aside {       float:right;}
.mainmenu {   font-size: 20px;}
.mmitem {          padding: 5;}
a:link {      color: white;
              text-decoration:  none;
              transition: color 1s;
              transition: background 1s;}
a:visited {   color:            white;
              text-decoration:  none;
              transition: 1s;}
a:hover {     background-color: #78FFFF;
              color: #262626;
              transition: 1s;}
a:active{     transition: 1s;}
footer {      font-size: 15px;
              text-align: center;
              vertical-align: bottom;
              margin-top: 20%;
              background-color:  grey;}
