body {background-color: honeydew;
  font-family: serif;
}
main {
  font-size: 14pt;
  text-align: center;
  padding-top: 5%;
}
header {
    height: 300px;
}
footer {
font-size: 15px;
text-align: center;
vertical-align: bottom;
margin-top: 20%;
}
nav {
    text-align: center;
    font-size: x-large;
}
article {
  text-align: center;
  font-size: x-large;
  padding: 20 0 0 0;
  font-style: oblique;
  color: darkgoldenrod;
  border-width: 10px;
  border-color: darkgoldenrod;
  border-bottom-style: dashed;
}
Nav ul {
  background-color: peachpuff;
}
nav ul li {
  display: inline;
padding: 0 50 00 50;
}
menu ul li {
    padding: 10 10 10 10;
    font-size: 20px;
}
#logo {
    padding-left: 25%;
}
#Navigation {
  font-size: 40px;
  font-weight: 200;
  margin: auto;
  padding: 30 0 0 0;
  }
  a:link {
    color:            #b76666;
    text-decoration:  none;
    border-bottom:    thin dotted #b76666;
  }
  a:visited {
    color:            #675c47;
    text-decoration:  none;
    border-bottom:    thin dotted #675c47;
  }
