@import "../../../../styles/colors.scss";

.main {
  max-width: 1140px;
}

.page-name {
  color: $color-black;
}

  @media screen and (max-width: 1139px ) {
    .main {
      padding: 0;
      max-width: 704px;
    }
  }

  @media screen and (max-width: 704px ) {
    .main {
      padding: 0;
      max-width: 571px;
    }
  }

  @media screen and (max-width: 571px ) {
    .main {
      padding: 0;
      max-width: 320px;
    }
  }
