doctype html
html(lang='ru')
  head
    title= title

    link(type='text/css', rel='stylesheet', href='topics.css')
    script // Не удалять, нужно для лечения бага с перезагрузкой страницы в хроме
    include ../common/metatags/metatags

  body
    include ../common/header/header
    main.main
      include components/topics-catalog/topic-catalog
    include ../common/footer/footer
