doctype html
html(lang='ru eng')
    head
        title  Hello World!
        link(type='text/css', rel='stylesheet', href='../../../build/pages/article/article.css')
        meta(charset='utf-8')
        script.
            <!-- Не удалять, нужно для лечения бага с перезагрузкой страницы в хроме-->
        meta(name='keywords', content='Техника, Мотоциклы, GS500, Обслуживание')
        meta(name='description', content='Сайт Ивана Громова, про Авто и Мото железо')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes')
    body
        header.blog-navigation
            a.page-name(href='../../../index.html') Iron Blog
            nav.navigation
                img.decoration-img(src='../../images/1.png')
                img.decoration-img(src='../../images/2.png')
                ul.menu
                    li.menu-item.triangle
                        a.menu-item-link(href='../topics/index.html') TOPICS
                        ul.dropout-menu
                            li.dropout-menu-item
                                a.dropout-menu-link(href='../article/index.html') Cars & Bikes
                            li.dropout-menu-item Racing
                            li.dropout-menu-item Garage
                            li.dropout-menu-item Community
                    li.menu-item
                        a.menu-item-link(href='../contacts/index.html') CONTACTS
                    li.menu-item
                        a.menu-item-link(href='../about/index.html') ABOUT
        main.main
            article.story
                picture
                    source(media='(min-width: 571px)', srcset='../../images/article/hero-image-718px.jpg 718w,\
          ../../images/article/hero-image-1142px.jpg 1142w,\
          ../../images/article/hero-image-1408px.jpg 1408w,\
          ../../images/article/hero-image.jpg 2199w')
                    source(srcset='../../images/article/hero-image-mob-320px.jpg 320w,\
          ../../images/article/hero-image-mob-571px.jpg 571w,\
          ../../images/article/hero-image-mob-1200px.jpg 1200w')
                    img.hero-image(src='../../images/article/hero-image-1408px.jpg', alt='yellow Suzuki GS 500 photo whith a headline')
                h1.headline
                    | Как ПРАВИЛЬНО проверять уровень масла на Suzuki GS 500 96'
                p.text
                    | Многие вещи в повседневном использовании техники кажуться нам до ужаса простыми. Ну в самом деле что может
                    | быть сложного в проверке уровня масла в мотоцикле? Но даже в такой простой операции могут быть различные ньюансы.
                    | (Например после закручивания заливной крышки щуп опускается на много ниже, чем если его просто опустить в картер)
                    | Что бы не допустить масляного голодания, в следствии того что вы не правильно поняли сколько масла в картере
                    | вашего
                    | мотоцикла, вот как описана данная операция в руководстве по ремонту Suzuki:
                h2.headline-2
                    | Замена масла в мотоциле Suzuki GS 500 96' согласно мануала
                ol.numbered-list
                    li  Едем на короткую прогулку - прогреваем мотор до нормальной температуры
                    li  Ставим на центральную подножку
                    li  Даем постоять пару минут
                    li  Достаем щуп, протираем салфеткой, возвращаем щуп на место, но НЕ ЗАКРУЧИВАЕМ!
                    li  Достаем обратно смотрим уровень
                    li  Доливаем до уровня F
                p.text
                    | "Что тут может быть сложного?" - подумаете вы, и будете правы - сложного тут ничего нет. Но зато есть уйма вещей
                    | которые можно сделать не правильно. Например вот вам список того что неправильно делал лично я, пока не нашел
                    | данный мануал:
                ul.unnumbered-list
                    li Зачастую смотрел уровень масла на холодную (не прогрев двигатель)
                    li Не ставил мотоцикл на центральную подножку, смотрел на боковой
                    li Закручивал масляную пробку при проверке (щуп опускался ниже чем должно быть)
                    li Доливал масло до среднего уровня, а не до уровня F (Full)
                p.text  Резюмировать все вышесказанное можно довольно кратко:
                blockquote.quote
                    | Перед тем как совать руки в свою любимую технику прочитайте мануал.
                p.text
                    | Мне повезло и мое незнание не привело к ужасающим последствиям, но никто не знает как получиться
                    | у вас. Так что качайте мануал для своей техники и читайте как правильно: Менять свечи, масло, ГРМ и вообще
                    | обслуживать свою железяку. Не считайте себя умнее инженеров - это черевато). Всем мир!
                .gallery
                    h1.gallery-headline Gallery
                    .images
                        figure.article-figure
                            img.article-image(src='../../images/article/1.jpg', srcset='../../images/article/1.jpg 666w,\
              ../../images/article/1-320px.jpg 320w', sizes='(min-width: 571px) 35vw,\
              (max-width: 570px) 50vw', alt="Two Suzuki's on the street")
                            figcaption.image-description Me and my friend having a ride
                        figure.article-figure
                            img.article-image(src='../../images/article/2.jpg', sizes='(min-width: 571px) 35vw,\
              (max-width: 570px) 50vw', srcset='../../images/article/2.jpg 666w,\
              ../../images/article/2-320px.jpg 320w', alt="Suzuki GSX 400 84' oil stick placement")
                            figcaption.image-description Suzuki GSX 400 84' oil stick placement
                        figure.article-figure
                            img.article-image(src='../../images/article/3.jpg', sizes='(min-width: 571px) 35vw,\
              (max-width: 570px) 50vw', srcset='../../images/article/3.jpg 666w,\
              ../../images/article/3-320px.jpg 320w', alt="Suzuki GSX 400 84' oil filter placement")
                            figcaption.image-description Suzuki GSX 400 84' oil filter placement
                        figure.article-figure
                            img.article-image(src='../../images/article/4.jpg', sizes='(min-width: 571px) 35vw,\
              (max-width: 570px) 50vw', srcset='../../images/article/4.jpg 666w,\
              ../../images/article/4-320px.jpg 320w', alt="Suzuki GS 500e 96' ")
                            figcaption.image-description Suzuki GS 500e 96'
            aside.advertisement Advertisement
        footer.footer
            p.copyright Все права защищены. Gromov Inc. 2019 Minsk
