/*Variables*/
$azure: #2BC6DC;
$contrast-light: #ffd987;
$azure-light: #78FFFF;
$black: #262626;
$grey: lightgrey;
$azuregradient: linear-gradient($azure 60%, #FFFFFF 100%);
$greygradeient: linear-gradient(#fff, $grey);

/*Mixins*/
@mixin zeromargin()
  {margin: 0;}

.advertisement {
  top: 10px;
  position: sticky;
  display: inline-block;
  width: 300px;
  height: 600px;
  background-color: lightgrey;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 600px;
  font-family: Helvetica;
  color: #555555;
  margin-left: 40px;
}

@media screen and (max-width: 1415px ) {
  .advertisement {
    display: none;
  }
}
