doctype html
html(lang='ru')
  head
    title= title
    link(type='text/css', rel='stylesheet', href='../../../build/pages/contacts/contacts.css')
    meta(charset='utf-8')
    script.
        <!-- Не удалять, нужно для лечения бага с перезагрузкой страницы в хроме-->
    meta(name='keywords', content='Техника, Мотоциклы, GS500, Обслуживание')
    meta(name='description', content='Сайт Ивана Громова, про Авто и Мото железо')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes')
  body
    header.blog-navigation
      a.page-name(href='../main-page/index.html') Iron Blog
      nav.navigation
        img.decoration-img(src='../../images/1.png')
        img.decoration-img(src='../../images/2.png')
        ul.menu
          li.menu-item.triangle
            a.menu-item-link(href='../topics/index.html') TOPICS
            ul.dropout-menu
              li.dropout-menu-item
                a.dropout-menu-link(href='../article/index.html') Cars & Bikes
              li.dropout-menu-item Racing
              li.dropout-menu-item Garage
              li.dropout-menu-item Community
          li.menu-item.chosen-item
            a.menu-item-link(href='index.html') CONTACTS
          li.menu-item
            a.menu-item-link(href='../about/index.html') ABOUT
    main.main
      table.contacts-table(cellspacing='0')
        caption.contacts-caption Contacts
        thead.contacts-head
          tr.contacts-row
            th.contacts-cell Type
            th.contacts-cell Details
        tbody.contacts-body
          tr.contacts-row
            td.contacts-cell.cellphone.type Cell phone #
            td.contacts-cell.cellphone
              a.phone(href='tel:+37544-556-8756')= phone
          tr.contacts-row
            td.contacts-cell Office phone #
            td.contacts-cell
              a.phone(href='tel:+37544-556-8756') +375 232 601 817
          tr.contacts-row
            td.contacts-cell Email
            td.contacts-cell
              a.link(href='mailto:ivangromov1993@gmail.com?subject=Your%20Website%20is%20awesome!&body=Ivan%20please%20marry%20me!!!')
                | ivangromov1993@gmail.com
          tr.contacts-row
            td.contacts-cell Vkontakte
            td.contacts-cell No page (Vkontakte sucks!)
          tr.contacts-row
            td.contacts-cell Facebook
            td.contacts-cell
              a.link(target='_blank', href='https://www.facebook.com/ivan.gromov.9678') https://www.facebook.com/ivan.gromov.9678
          tr.contacts-row
            td.contacts-cell Twitter
            td.contacts-cell No page (Twitter sucks!)
          tr.contacts-row
            td.contacts-cell Instagram
            td.contacts-cell
              a.link(target='_blank', href='https://www.instagram.com/gr0mi4/')
                | https://www.instagram.com/gr0mi4/
          tr.contacts-row
            td.contacts-cell Telegram
            td.contacts-cell
              a.phone(href='tel:+37544-556-8756') +375 44 556 8756
          tr.contacts-row
            td.contacts-cell Viber
            td.contacts-cell
              a.phone(href='tel:+37544-556-8756') +375 44 556 8756
    footer.footer
      p.copyright Все права защищены. Gromov Inc. 2019 Minsk
