doctype html
html(lang='ru')
  head
    title= title
    link(type='text/css', rel='stylesheet', href='../../../build/pages/contacts/contacts.css')
    include ../common/metatags/metatags

  body
    include ../common/header/header

    main.main
      include ./components/contacts-table/contacts-table

    include ../common/footer/footer
