ul.dropout-menu
  li.dropout-menu-item Cars
  li.dropout-menu-item
    a.dropout-menu-link(href='../article/index.html') Bikes
  li.dropout-menu-item Racing
  li.dropout-menu-item Garage
  li.dropout-menu-item Community
