@import "../../../styles/colors.scss";
@import "../../../styles/media";

@import "dropout-menu";

.menu {
  padding: 0;
  margin: 0;

  &-item {
    display: inline-block;
    margin: 12px 46px 5px;
    position: relative;
    text-transform: uppercase;

    @media #{$media-1139} {
      margin: 12px 1vw 5px;
    }

    @media #{$media-571} {
      display: inline-block;
      padding: 0 15px;
      margin: 0;
      font-size: 25px;
    }

    &.triangle {
      padding: 10px 30px;
      position: relative;

      & .menu-item-link {
        padding: 10px 35px;
        position: relative;

        &::after {
          position: absolute;
          right: 7px;
          top: 26px;
          content: "";
          border-style: solid;
          border-width: 10px 9px 0 9px;
          border-color: $color-white transparent;
          transition: border 1s, transform 1s;
        }

        &:hover::after {
          border-color: $color-black transparent;
          transform:rotate(180deg);
          transition: transform 1s, border 1s;
        }

        @media #{$media-1139} {
          display: none;
        }
      }
    }

    &-link {
      color: inherit;
      text-decoration: none;
      padding: 10px;
      border-radius: 10px;
      transition: color 1s, background 1s;

      &:hover {
        background-color: $color-azure-light;
        color: $color-black;
        transition: background 1s, color 1s;
      }
    }
  }
}

.chosen {
  text-decoration: none;
  border-radius: 10px;
  background-color: $color-azure-light;
  padding: 10px 0;
  color: $color-black;
}
