@import "../../../../styles/colors";
@import "../../../../styles/fonts";
@import "../../../../styles/media";

.contacts-table {
  margin: 0 auto;
  font-family: $font-headline;
  font-size: 25px;
  letter-spacing: 3px;
  border-radius: 20px;

  @media #{$media-571} {
    font-size: 11px;
    display: table;
  }
}

.contacts-caption {
  text-align: center;
  font-family: $font-headline;
  font-size: 55px;
  line-height: 115px;

}

.contacts-head {
  text-align: left;
  font-size: 40px;
  line-height: 40px;
  color: $color-black;

  @media #{$media-571} {
    font-size: 20px;
    line-height: 16px;
  }
}

.contacts-cell {
  line-height: 35px;
  padding: 10px 10px 10px 20px;

  @media #{$media-571} {
    line-height: 18px;
    padding: 4px 6px;
  }
}

.contacts-row {
  @media #{$media-571} {
    width: 85%
  }
}

.contacts-cell:nth-child(odd) {
  border-right: 5px solid $color-white;
}

.contacts-body .contacts-row:nth-child(odd) {
  background-color: lighten($color-azure, 15%);
  color: $color-white;
}

.contacts-body .contacts-row:nth-child(even) {
  background-color: $color-white;
}

.contacts-body .contacts-row:last-of-type .contacts-cell:nth-child(even) {
  border-bottom-right-radius: 15px;
}

.contacts-body .contacts-row:last-of-type .contacts-cell:nth-child(odd) {
  border-bottom-left-radius: 15px;
}

.link {
  text-decoration: none;
  color: $color-black;
}

.phone {
  font-style: oblique;
  text-decoration: none;
  color: $color-black;
}
