@import "../../../../styles/colors";
@import "../../../../styles/fonts";
@import "../../../../styles/media";

.contacts-table {
  margin: 0 auto 23px;
  font-family: $font-headline;
  font-size: 25px;
  letter-spacing: 3px;
  border-radius: 20px;

  @media #{$media-704} {
    font-size: 18px;
  }

  @media #{$media-571} {
    font-size: 14px;
    letter-spacing: 2px;
  }
}

.contacts-caption {
  text-align: center;
  font-family: $font-headline;
  font-size: 55px;
  line-height: 110px;

  @media #{$media-704} {
    font-size: 45px;
    line-height: 75px;
  }
}

.contacts-head {
  text-align: left;
  font-size: 40px;
  line-height: 40px;
  color: $color-black;

  @media #{$media-704} {
    font-size: 30px;
    line-height: 32px;
  }

  @media #{$media-571} {
    font-size: 20px;
    line-height: 16px;
  }
}

.contacts-cell {
  line-height: 32px;
  padding: 10px 10px 10px 20px;

  @media #{$media-571} {
    line-height: 18px;
    padding: 4px 6px;
  }
}

.contacts-row {
  @media #{$media-571} {
    width: 85%
  }
}

.contacts-cell:nth-child(odd) {
  border-right: 5px solid $color-white;
}

.contacts-body .contacts-row:nth-child(odd) {
  background-color: lighten($color-azure, 15%);
  color: $color-white;
}

.contacts-body .contacts-row:nth-child(even) {
  background-color: $color-white;
}

.contacts-body .contacts-row:last-of-type .contacts-cell:nth-child(even) {
  border-bottom-right-radius: 15px;
}

.contacts-body .contacts-row:last-of-type .contacts-cell:nth-child(odd) {
  border-bottom-left-radius: 15px;
}

.link {
  text-decoration: none;
  color: $color-black;
}

.phone {
  font-style: oblique;
  text-decoration: none;
  color: $color-black;
}

.feedback-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 50px;
  border-radius: 0 0 10px 10px;
  font-family: $font-headline;
  color: $color-white;
  background-color: $color-azure;
  font-size: 25px;
  text-align: center;
  position: relative;
  transition: filter 1s;

  &:hover {
    filter: brightness(110%);
  }

  &:active {
    transform: scale(0.97);
  }

  @media #{$media-704} {
    width: 250px;
    height: 40px;
    font-size: 18px;
  }

  @media #{$media-571} {
    width: 180px;
    height: 30px;
    font-size: 13px;
  }
}
