@import "../../../../styles/colors";
@import "../../../../styles/fonts";
@import "../../../../styles/media";

.contacts-table {
  margin: 0 auto;
  font-family: $font-headline;
  font-size: 25px;
  letter-spacing: 3px;
  border-radius: 20px;

  @media #{$media-704} {
    font-size: 18px;
  }

  @media #{$media-571} {
    font-size: 14px;
    letter-spacing: 2px;
  }
}

.contacts-caption {
  text-align: center;
  font-family: $font-headline;
  font-size: 55px;
  line-height: 115px;

  @media #{$media-704} {
    font-size: 45px;
    line-height: 75px;
  }
}

.contacts-head {
  text-align: left;
  font-size: 40px;
  line-height: 40px;
  color: $color-black;

  @media #{$media-704} {
    font-size: 30px;
    line-height: 32px;
  }

  @media #{$media-571} {
    font-size: 20px;
    line-height: 16px;
  }
}

.contacts-cell {
  line-height: 35px;
  padding: 10px 10px 10px 20px;

  @media #{$media-571} {
    line-height: 18px;
    padding: 4px 6px;
  }
}

.contacts-row {
  @media #{$media-571} {
    width: 85%
  }
}

.contacts-cell:nth-child(odd) {
  border-right: 5px solid $color-white;
}

.contacts-body .contacts-row:nth-child(odd) {
  background-color: lighten($color-azure, 15%);
  color: $color-white;
}

.contacts-body .contacts-row:nth-child(even) {
  background-color: $color-white;
}

.contacts-body .contacts-row:last-of-type .contacts-cell:nth-child(even) {
  border-bottom-right-radius: 15px;
}

.contacts-body .contacts-row:last-of-type .contacts-cell:nth-child(odd) {
  border-bottom-left-radius: 15px;
}

.link {
  text-decoration: none;
  color: $color-black;
}

.phone {
  font-style: oblique;
  text-decoration: none;
  color: $color-black;
}

.feedback-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: 3%;
  width: 110px;
  height: 110px;
  font-family: $font-headline;
  color: $color-white;
  background-color: $color-azure;
  font-size: 15px;
  border-radius: 50%;
  text-align: center;
  position: relative;

  @media #{$media-1139} {
    top: 40px;
    margin: 0 auto 0 auto;
  }

  @media #{$media-571} {
    width: 80px;
    height: 80px;
    font-size: 11px;
    font-family: $font-serif;
  }

  &:after {
    content: "";
    width: 15px;
    height: 15px;
    border-style: solid;
    border-color: transparent $color-white $color-white transparent;
    border-width: 5px;
    display: block;
    position: relative;
    left: 43px;
    transform: rotate(45deg) scale(0.8);

    @media #{$media-571} {
      left: 30px;
    }

  }
}
