/*Variables*/
$azure: #2BC6DC;
$contrast-light: #ffd987;
$azure-light: #78FFFF;
$black: #262626;
$grey: lightgrey;
$azuregradient: linear-gradient($azure 60%, #FFFFFF 100%);
$greygradeient: linear-gradient(#fff, $grey);

/*Mixins*/
@mixin zeromargin()
  {margin: 0;}

.gallery {
  margin-top: 25px;
  padding: 15px;
  height: fit-content;
}

.gallery-headline {
  font-size: 45px;
  line-height: 55px;
  background-image:
    linear-gradient(45deg, transparent, lightgrey, transparent);
  font-family: "Bernard MT Condensed", "Calibri", sans-serif;
  text-align: center;
  margin: 0;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  border: 15px solid black;
  border-image:
  linear-gradient(to top, transparent, lightgrey, transparent);
  border-image-slice: 1;
  box-sizing: border-box;
  padding: 10px;
}

.article-figure {
  margin: 20px 0;
  padding: 10px;
  width: 35%;
  min-width: 150px;
  height: auto;
  box-shadow: 0 0 5px 5px #eeeeee;
  background-color: #fff;
  transition: transform 0.6s, background-color 0.2s;
  position: relative;
  cursor: url('https://iconbird.com/png/download.php?id=47412&s=32'), zoom-in;
}

.article-figure:hover{
  display: block;
  transform: scale(1.20);
  background-color: lightgrey;
  z-index: 5;
}

.article-figure:hover .image-description {
  opacity: 1;
}

.article-figure:hover .image-description::after {
   opacity: 1;
   transform: translateY(-38px);
 }

.article-image {
  width: 100%;
  height: 100%;
  filter: saturate(150%);
}

.image-description {
  opacity: 0;
  font-size: 16px;
  transition: opacity 0.5s;
  text-align: center;
  top: -30px;
  position: relative;
  z-index: 6;
  color: lightgrey;
  font-family: "VnBook-Antiqua", fantasy;
}

.image-description::after {
  display: block;
  position: absolute;
  top: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  width: 100%;
  height: 35px;
  opacity: 0;
  transition: transform 1s;
  z-index: -5;
}

@media screen and (max-width: 1139px ) {
  .article-figure {
    padding: 5px;
    max-height: 300px;
  }

  .image-description {
    font-size: 1.3vw;
  }
}

@media screen and (max-width: 571px ) {
  .gallery-headline {
    font-size: 30px;
    line-height: 35px;
  }

  .gallery {
    margin-top: 0;
  }

  .image-description {
    font-size: 2vw;
    top: -35px;
  }

  .image-description::after {
    top: 35px;
  }
}

@media screen and (max-width: 320px ) {
  .images {
    padding: 0px;
  }

  .aricle-figure {
    margin: 5px 0px;
  }

  .image-description {
    font-size: 3.5vw;
    top: -35px;
  }
}
