@font-face {
    font-family: 'Gagalin';
    src:
    local('fonts/Gagalin'),
    local('fonts/Gagalin-Regular'),
    url('fonts/Gagalin.woff2') format('woff2'),
    url('fonts/Gagalin.woff') format('woff'),
    url('fonts/Gagalin.ttf')  format('truetype');
    font-weight: 400;
    font-style: normal;
}
