body {
  margin: 0px;
}
.blog {
  font-size: 40px;
  font-weight: 600;
  font-family: sans-serif;
  background-color: #2BC6DC;
  color: white;
  text-align: center;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-block-start: 10px;
}
.navigation {
  background-color: #2BC6DC;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 30px;
  padding: 20px 0 20px 0;
}
.navigation .menu {
  padding: 0px;
  margin: 0px;
}
.navigation {
  margin: 0px;
}
.menu-item {
  display: inline-block;
  margin: 12px 46px;
  font-family: sans-serif;
}
.menu-item-link {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  transition: background 1s;
}
.nav-item-link:hover {
  background-color: #78FFFF;
  color: #262626;
  transition: 1s;
  transition: color 1s;
}
.main {
  width: 1400px;
  margin: auto;
}
.article {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 20px 20px 20px 0px;
  font-size: 20px;
  font-family: sans-serif;
  width: 1040px;
}
.advertisement {
  display: inline-block;
  width: 300px;
  height: 600px;
  margin: 60px 10px 0px 10px;
  background-color: lightgrey;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 600px;
  font-family: Helvetica;
  color: #555555;
}
.headline {
  text-align: center;
  font-size: 30px;
  padding: 20px 0px 0px 0px;
  font-style: oblique;
}
.headline-2 {
  font-size: 25px;
}
.wisdom {
  font-style: oblique;
  text-align: center;
}
.copyright {
  font-size: 15px;
  text-align: center;
  vertical-align: bottom;
  margin-top: 5%;
  background-color: lightgrey;
  padding: 10px;
}
