body {
  margin: 0;
}
.blog {
  font-size: 40px;
  font-weight: 600;
  font-family: sans-serif;
  background-color: #2BC6DC;
  color: white;
  text-align: center;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.navigation {
  background-color: #2BC6DC;
  color: white;
  text-align: center;
  padding: 5;
  font-size: 30px;
  padding-block-start: 20px;
  padding-block-end: 20px;
}
.navigation ul {
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.navigation p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.menu-item {
  display: inline-block;
  margin: 12 46;
  font-family: sans-serif;
}
.advertisement {
  float: right;
  vertical-align: top;
  width: 450;
  height: 800px;
  margin: 60 10 0 10;
  background-color: grey;
  text-align: center;
  font-size: 50;
  font-weight: bolder;
}
.headline {
  text-align: center;
  font-size: 30;
  padding: 20 0 0 0;
  font-style: oblique;
}
.headline-2 {
  font-size: 25;
}
.article {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 20 80 20 80;
  font-size: 20;
  font-family: sans-serif;
  width: 1300;
}
.mainmenu-item {
  padding: 5;
}
.navigation a:link {
  color: white;
  text-decoration:  none;
  transition: color 1s;
  transition: background 1s;
}
.navigation a:visited {
  color: white;
  text-decoration:  none;
  transition: 1s;}
.navigation a:hover {
  background-color: #78FFFF;
  color: #262626;
  transition: 1s;
}
.navigation a:active{
  transition: 1s;
}
.wisdom {
  font-style: oblique;
  text-align: center;
}
.footer {
  font-size: 15px;
  text-align: center;
  vertical-align: bottom;
  margin-top: 5%;
  background-color:  grey;
  padding: 10;
}
