.blog {
  font-size: 40px;
  font-size: 40px;
  font-weight: 600;
  font-family: sans-serif;
}
.navigation {
  background-color: #2BC6DC;
  color: white;
  text-align: center;
  padding: 5;
  font-size: 30px;
}
.main {
  display: table-row;
}
.menu-item {
  display: inline;
  padding: 0 120 00 120;
  font-family: sans-serif;
}
.advertisement {
  display: table-cell;
  border-spacing: 5px;
}
.headline {
  text-align: center;
  font-size: 30;
  padding: 20 0 0 0;
  font-style: oblique;
}
.headline-2 {
  font-size: 25;
}
.oilcheck-GS500 {
  display: table-cell;
  text-align: left;
  padding: 20 80 20 80;
  font-size: 20;
  font-family: sans-serif;
}
.mainmenu-item {
  padding: 5;
}
a:link {
  color: white;
  text-decoration:  none;
  transition: color 1s;
  transition: background 1s;
}
a:visited {
  color: white;
  text-decoration:  none;
  transition: 1s;}
a:hover {
  background-color: #78FFFF;
  color: #262626;
  transition: 1s;
}
a:active{
  transition: 1s;
}
.wisdom {
  font-style: oblique;
  text-align: center;
}
.footer {
  font-size: 15px;
  text-align: center;
  vertical-align: bottom;
  margin-top: 5%;
  background-color:  grey;
  padding: 10;
}
