$color-azure: #2bc6dc;
$color-light-orange: rgba(236, 252, 133, 0.2);
$color-orange: orange;
$color-azure-light: #78ffff;
$color-black: #262626;
$color-grey: lightgrey;
$color-light-grey: lighten($color-grey, 30%);
$color-dark-grey: grey;
$color-halfdark-grey: #eeeeee;
$color-white: #fff;
$color-green: #0aff07;
$color-red: #ff260b;
