$font-headline: "Gagalin", "Calibri", fantasy;
$font-serif: "Helvetica", sans-serif;
$font-body-text: "Georgia", serif;
$font-gallery-headline:  "Bernard MT Condensed", "Calibri", sans-serif;
$font-dropout-menu: "Calibri", sans-serif;
$font-gallery-description: "VnBook-Antiqua", "Calibri", fantasy;
