$font-headline: "Gagalin", "Calibri", fantasy;
$font-serif: "Helvetica", sans-serif;
$font-body-text: "Georgia", serif;
$font-bernard:  "Bernard MT Condensed", "Calibri", sans-serif;
$font-calibri: "Calibri", sans-serif;
$font-vnbook: "VnBook-Antiqua", "Calibri", fantasy;
