$media-1415: "screen and (max-width: 1415px)";
$media-1139: "screen and (max-width: 1139px)";
$media-704: "screen and (max-width: 704px)";
$media-571: "screen and (max-width: 571px)";
$media-359: "screen and (max-width: 359px)";
$media-320: "screen and (max-width: 320px)";
