@font-face {
    font-family: 'Gagalin';
    src:
    url('https://hb.bizmrg.com/fonts/gagalin/400.woff2') format('woff2'),
    url('https://hb.bizmrg.com/fonts/gagalin/400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Bernard MT Condensed";
   src:
   url("https://db.onlinewebfonts.com/t/eceba41a00b4b94ea2965371c8dda96c.eot") format('eot'),
   url("https://db.onlinewebfonts.com/t/eceba41a00b4b94ea2965371c8dda96c.eot?#iefix") format("embedded-opentype"),
   url("https://db.onlinewebfonts.com/t/eceba41a00b4b94ea2965371c8dda96c.woff2") format("woff2"),
   url("https://db.onlinewebfonts.com/t/eceba41a00b4b94ea2965371c8dda96c.woff") format("woff"),
   url("https://db.onlinewebfonts.com/t/eceba41a00b4b94ea2965371c8dda96c.ttf") format("truetype"),
   url("https://db.onlinewebfonts.com/t/eceba41a00b4b94ea2965371c8dda96c.svg#Bernard MT Condensed") format("svg");
   font-weight: 400;
   font-style: normal;
  }

  @font-face {
    font-family: "VnBook-Antiqua";
    src:
    url("https://db.onlinewebfonts.com/t/d7eb635f25368c10207fb493bfe13e22.eot") format('eot'),
    url("https://db.onlinewebfonts.com/t/d7eb635f25368c10207fb493bfe13e22.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d7eb635f25368c10207fb493bfe13e22.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/d7eb635f25368c10207fb493bfe13e22.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/d7eb635f25368c10207fb493bfe13e22.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/d7eb635f25368c10207fb493bfe13e22.svg#.VnBook-Antiqua") format("svg");
    font-weight: 400;
    font-style: normal;
  }
