/*Variables*/
$azure: #2BC6DC;
$contrast-light: #ffd987;
$azure-light: #78FFFF;
$black: #262626;
$grey: lightgrey;
$azuregradient: linear-gradient($azure 60%, #FFFFFF 100%);
$greygradeient: linear-gradient(#fff, $grey);

/*Mixins*/
@mixin zeromargin()
  {margin: 0;}

.footer {
  background-color: $grey;
  background-image: $greygradeient;
  box-sizing: content-box;
  padding: 35px 0 15px 0px;
  text-align: center;
  width: 100%;
}

.copyright {
  font-size: 15px;
  @include zeromargin;
}

@media screen and (max-width: 571px ) {
  .copyright {
    font-size: 11px;
  }
}
