@import "../../../styles/colors.scss";
@import "../../../styles/gradients.scss";
@import "../../../styles/fonts.scss";

.blog-navigation {
  background-image: $gradient-azure;
  padding: 10px 0px 60px 0px;
  font-family: $font-headline;
  text-align: center;
  width: 100%;
}

.page-name {
  font-size: 50px;
  color: $color-white;
  text-decoration: none;
  transition: color 1s;

  &:hover {
    color: $color-black;
  }
}

.decoration-img {
  display: block;
  height: 130px;
  top: 18px;
  position: absolute;

  &:first-of-type {
    width: 150px;
    right: 7%;
  }

  &:last-of-type {
    width: 130px;
    left: 7%;
  }
}

  @media screen and (max-width: 1139px ) {
    .page-name {
      font-size: 45px;
    }

    .decoration-img {
      height: 105px;
      position: absolute;
      top: 1%;

      &:first-of-type {
        width: 115px;
        position: absolute;
        right: 2%;
      }

      &:last-of-type {
        width: 105px;
        left: 5%;
      }
    }
  }

  @media screen and (max-width: 704px ) {
    .decoration-img {
      height: 75px;

      &:first-of-type {
        width: 85px;
        right: 2%;
      }

      &:last-of-type {
        width: 75px;
        left: 2%;
      }
    }
  }

  @media screen and (max-width: 571px ) {
    .page-name {
      font-size: 60px;
    }

    .decoration-img {
      display: none;
    }
  }
