header.blog-navigation
  a.page-name(href='../main-page/index.html') Iron Blog
  nav.navigation
    img.decoration-img(src='../../images/1.png')
    img.decoration-img(src='../../images/2.png')
    include ../menu/menu

