header.blog-navigation
  a.page-name(href='../main-page/index.html') Iron Blog
  nav.navigation
    img.decoration-img(src='../../images/1.png')
    img.decoration-img(src='../../images/2.png')
    ul.menu
      li.menu-item.triangle
        a.menu-item-link(href='../topics/index.html') TOPICS
        ul.dropout-menu
          li.dropout-menu-item
            a.dropout-menu-link(href='../article/index.html') Cars & Bikes
          li.dropout-menu-item Racing
          li.dropout-menu-item Garage
          li.dropout-menu-item Community
      li.menu-item.chosen-item
        a.menu-item-link(href='index.html') CONTACTS
      li.menu-item
        a.menu-item-link(href='../about/index.html') ABOUT
