body {
  margin: 0px;
}

.blog-navigation {
  background-image: linear-gradient(#2bc6dc 60%, #ffffff 100%);
  padding: 10px 0px 60px 0px;
  font-family: "Gagalin", sans-serif;
  text-align: center;
  width: 100%;
}
.page-name {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  transition: color 1s;
}

.page-name:hover {
  color: black;
}

.decoration-img {
  display: block;
  height: 130px;
  top: 18px;
  position: absolute;
}

.decoration-img:first-of-type {
  width: 150px;
  right: 7%;
}

.decoration-img:last-of-type {
  width: 130px;
  left: 7%;
}

.navigation {
  color: white;
  font-size: 30px;
  margin: 20px 0px 0px 0px;
}

.navigation .menu {
  padding: 0px;
  margin: 0px;
}

.menu-item {
  display: inline-block;
  margin: 12px 46px 5px;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  transition: color 1s, background 1s;
}

.menu-item:hover {
  background-color: #78FFFF;
  color: #262626;
  transition: background 1s, color 1s;
}

.menu-item-link {
  color: inherit;
  text-decoration: none;
}

.chosen-item {
  text-decoration: none;
  border-radius: 10px;
  background-color: #78FFFF;
  padding: 10px;
  color: #262626;
}

.triangle {
  padding: 10px 30px;
  position: relative;
}

.menu-item:hover .dropout-menu {
  display: block;
}

.dropout-menu {
  display: none;
  padding: 5px;
  position: absolute;
  left: -25px;
  top: 57px;
  font-size: 20px;
  color: black;
  background-color: #F9F9F9;
  list-style-type: none;
  width: 180px;
  box-shadow: 0px 5px 10px -3px #808080;
}

.dropout-menu-item {
  padding: 2px 15px;
  font-family: "Calibri";
  border-bottom: 2px solid #EEEEEE;
  font-weight: bold;
  text-align: left;
}

.dropout-menu-item:hover {
  background-color: #dddddd;
  transition: background 0.5s;
  cursor: pointer;
}

.dropout-menu-link {
  text-decoration: none;
  color: black;
}

.menu-item.triangle::after {
  position: absolute;
  right: 5px;
  top: 26px;
  content: "";
  border-style: solid;
  border-width: 10px 9px 0px 9px;
  border-color: white transparent;
  transition: border 1s, transform 1s;
}

.menu-item.triangle:hover::after {
  border-color: black transparent;
  transform: rotate(180deg);
  transition: transform 1s, border 1s;
}

.main {
  box-sizing: border-box;
  width: 1440px;
  padding: 40px;
  margin: auto;
}

@keyframes move-top {
  0% {
    transform: rotate(0deg) translateX(0) scale(0, 1);
  }
  25% {
    transform: rotate(0deg) translateX(0) scale(1, 1);
  }

  50%, 75% {
    transform: rotate(0deg) translateX(100%) scale(0, 1);
  }

  100% {
    transform: rotate(0deg) translateX(0) scale(0, 1);
  }
}

@keyframes move-right {
  0% {
    transform: rotate(90deg) translateX(0) scale(0, 1);
  }

  25% {
    transform: rotate(90deg) translateX(0) scale(1, 1);
  }

  50%, 75% {
    transform: rotate(90deg) translateX(100%) scale(0, 1);
  }

  100% {
    transform: rotate(90deg) translateX(0) scale(0, 1);
  }
}

@keyframes move-bottom {
  0% {
    transform: rotate(180deg) translateX(-100%) scale(0, 1);
  }

  25% {
    transform: rotate(180deg) translateX(-100%) scale(1, 1);
  }

  50%, 75% {
    transform: rotate(180deg) translateX(0) scale(0, 1);
  }

  100% {
    transform: rotate(180deg) translateX(-100%) scale(0, 1);
  }
}

@keyframes move-left {
  0% {
    transform: rotate(-90deg) translateX(-100%) scale(0, 1);
  }

  25% {
    transform: rotate(-90deg) translateX(-100%) scale(1, 1);
  }

  50%, 75% {
    transform: rotate(-90deg) translateX(0) scale(0, 1);
  }

  100% {
    transform: rotate(-90deg) translateX(-100%) scale(0, 1);
  }
}

.logo {
  width: 456px;
  height: 456px;
  background-image: url(../../images/ivangromovproduction.png);
  background-position: 7px;
  background-repeat: no-repeat;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid black;
  position: relative;
}

.logo .snake {
  width: calc(100% + 22px);
  height: 10px;
  position: absolute;
  background: red;
}

.logo .snake.top {
  top: -11px;
  left: -11px;
  animation: move-top 4s linear infinite;
  animation-fill-mode: both;
  animation-delay: 0s;
  transform-origin: left;
}

.logo .snake.right {
  top: -11px;
  right: calc(-100% - 33px);
  animation: move-right 4s linear infinite;
  animation-fill-mode: both;
  animation-delay: 1s;
  transform-origin: left top;
}

.logo .snake.bottom {
  bottom: -1px;
  left: -11px;
  animation: move-bottom 4s linear infinite;
  animation-fill-mode: both;
  animation-delay: 2s;
  transform-origin: left bottom;
}

.logo .snake.left {
  left: -11px;
  top: -11px;
  transform-origin: left top;
  animation: move-left 4s linear infinite;
  animation-fill-mode: both;
  animation-delay: 3s;
}

/* footer */
.footer {
  background-color: lightgrey;
  background-image: linear-gradient(#ffffff, #d3d3d3);
  box-sizing: content-box;
  padding: 35px 0 15px 0px;
  text-align: center;
  width: 100%;
}
.copyright {
  font-size: 15px;
  margin: 0px;
}
@media screen and (max-width: 1139px) {
  .decoration-img:first-of-type {
    display: block;
    width: 115px;
    height: 105px;
    position: absolute;
    right: 2%;
    top: 1%;
  }
  .decoration-img:last-of-type {
    display: block;
    width: 105px;
    height: 105px;
    position: absolute;
    left: 5%;
    top: 1%;
  }
  .navigation {
    font-size: 30px;
    margin-top: 5px;
  }
  .page-name {
    font-size: 45px;
  }
  .menu-item.triangle::after {
    display: none;
  }
  .main {
    max-width: 700px;
    padding: 20px;
  }
  .blog-navigation {
    width: 100vw;
  }
  .menu-item:hover .dropout-menu {
    display: none;
  }
}
@media screen and (max-width: 704px) {
  .main {
    max-width: 500px;
    padding: 10px;
  }
  .topic-headline {
    margin-left: 32px;
  }
  .decoration-img:first-of-type {
    display: block;
    width: 85px;
    height: 75px;
    position: absolute;
    right: 2%;
    top: 1%;
  }
  .decoration-img:last-of-type {
    display: block;
    width: 75px;
    height: 75px;
    position: absolute;
    left: 2%;
    top: 1%;
  }
}
@media screen and (max-width: 571px) {
  .page-name {
    font-size: 60px;
  }
  .main {
    padding: 0;
    max-width: 520px;
  }
  .blog-navigation {
    width: 100vw;
  }
  .decoration-img:first-of-type,
  .decoration-img:last-of-type {
    display: none;
  }
  .navigation {
    margin-top: 0;
  }
  .menu-item {
    display: inline-block;
    padding: 0px 15px;
    margin: 0px;
    font-size: 25px;
  }
  .copyright {
    font-size: 11px;
  }
}
