body {
  margin: 0px;
}

.blog-navigation {
  background-image:
  linear-gradient(#2BC6DC 60%, #FFFFFF 100%);
  padding: 10px 0px 60px 0px;
  font-family: "Gagalin", sans-serif;
  text-align: center;
}

.page-name {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  transition: color 1s;
}

.page-name:hover {
  color: black;
}

.decoration-img:first-of-type {
  display: block;
  width: 150px;
  height: 130px;
  position: absolute;
  right: 7%;
  top: 18px;
}

.decoration-img:last-of-type {
  display: block;
  width: 130px;
  height: 130px;
  position: absolute;
  left: 7%;
  top: 18px;
}

.navigation {
  color: white;
  font-size: 30px;
  margin: 20px 0px 0px 0px;
}

.navigation .menu {
  padding: 0px;
  margin: 0px;
}

.menu-item {
  display: inline-block;
  margin: 12px 46px 5px;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  transition: color 1s, background 1s;
}

.menu-item:hover {
  background-color: #78FFFF;
  color: #262626;
  transition: background 1s, color 1s;
}

.menu-item-link {
  color: inherit;
  text-decoration: none;
}

.main {
  box-sizing: border-box;
  width: 1440px;
  padding: 40px;
  margin: auto;
}

.triangle {
  padding: 10px 30px;
  position: relative;
}

.menu-item:hover .dropout-menu {
  display: block;
}

.dropout-menu {
  display: none;
  padding: 5px;
  position: absolute;
  left: -25px;
  top: 57px;
  font-size: 20px;
  color: black;
  background-color: #F9F9F9;
  list-style-type: none;
  width: 180px;
  box-shadow: 0px 5px 10px -3px grey;
}

.dropout-menu-item {
  padding: 2px 15px;
  font-family: "Calibri";
  border-bottom: 2px solid #EEEEEE;
  font-weight: bold;
  text-align: left;
}

.dropout-menu-item:hover {
  background-color: #dddddd;
  transition: background 0.5s;
  cursor: pointer;
}

.dropout-menu-link {
  text-decoration: none;
  color: black;
}

.menu-item.triangle::after {
  position: absolute;
  right: 5px;
  top: 26px;
  content: "";
  border-style: solid;
  border-width: 10px 9px 0px 9px;
  border-color: white transparent;
  transition: border 1s, transform 1s;
}

.menu-item.triangle:hover::after {
  border-color: black transparent;
  transform:rotate(180deg);
  transition: transform 1s, border 1s;
}

.article {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-family: sans-serif;
  width: 100%;
  max-width: 1010px;
  border-bottom: 4px solid #EFEFEF;
  padding-bottom: 20px;
}

.article:not(:first-child) {
  margin: 25px 0px 0px 0px;
}

.headline {
  text-align: center;
  font-size: 30px;
  font-style: oblique;
  margin: 0px;
}

.text {
  margin: 24px 0px 0px 0px;
  font-family: Georgia;
  font-size: 18px;
  line-height: 24px;
}

.numbered-list, .unnumbered-list {
  padding: 0px;
  margin: 24px 0px 0px 20px;
  font-family: Georgia;
  font-size: 18px;
  line-height: 24px;
}

.headline-2 {
  font-size: 24px;
  margin: 24px 0px 0px 0px;
  line-height: 30px;
}

.quote {
  width: 600px;
  margin: 32px auto 0;
  padding: 24px;
  font-family: Helvetica;
  font-size: 24px;
  font-style: italic;
  line-height: 32px;
  text-align: center;
  border: 4px dashed #bf0000;
}

.see-more-button {
  display: none;
}

.advertisement {
  top: 10px;
  position: sticky;
  display: inline-block;
  width: 300px;
  height: 600px;
  background-color: lightgrey;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 600px;
  font-family: Helvetica;
  color: #555555;
  margin-left: 40px;
}

.footer {
  background-color: lightgrey;
  background-image: linear-gradient(#fff, lightgrey);
  box-sizing: content-box;
  padding: 35px 0 15px 0px;
  text-align: center;
  width: 100%;
}

.copyright {
  font-size: 15px;
  margin: 0px;
}

@media screen and (max-width: 1415px ) {
  .advertisement {
    display: none;
  }
}

@media screen and (max-width: 1139px ) {
  .main {
    padding: 0;
    width: 90%;
  }

  .blog-navigation {
    width: 100%;
  }

  .menu-item:hover .dropout-menu {
    display: none;
  }

  .decoration-img:first-of-type {
    display: block;
    width: 115px;
    height: 105px;
    position: absolute;
    right: 2%;
    top: 1%;
  }

  .decoration-img:last-of-type {
    display: block;
    width: 105px;
    height: 105px;
    position: absolute;
    left: 5%;
    top: 1%;
  }

  .navigation {
    font-size: 2.5em;
  }

  .page-name {
    font-size: 4em;
  }

  .menu-item.triangle::after {
    display: none;
  }
}

@media screen and (max-width: 571px ) {
  .page-name {
    font-size: 4em;
  }

  .main {
    padding: 0;
  }

  .blog-navigation {
    width: 103%;
  }

  .decoration-img:first-of-type, .decoration-img:last-of-type {
    display: none;
  }

  .navigation {
    font-size: 2em;
    margin-top: 0;
  }

  .menu-item {
    display: inline-block;
    padding: 0px 15px;
    margin: 0px;
    font-size: 25px;
  }

  .text, .unnumbered-list, .numbered-list {
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
  }

  .article:not(:first-of-type) {
    display: none;
  }

  .headline {
    font-size: 22px;
    margin: 0px;
  }

  .headline-2 {
    font-size: 18px;
    line-height: 20px;
  }

  .quote {
    width: 80%;
  }

  .see-more-button {
    display: block;
    width: 80px;
    height: 80px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px #2BC6DC;
    text-decoration: none;
    color: black;
    margin: 15px auto 0px;
  }

  .see-more-link-text {
    text-decoration: none;
    font-family: "Gagalin", sans-serif;
    font-size: 21px;
    text-align: center;
    line-height: 25px;
    margin: 0;
  }

  .see-more-link-text::after {
    content: "";
    width: 20px;
    height: 20px;
    border-style: solid;
    border-color: transparent #2BC6DC #2BC6DC transparent;
    transform: rotate(45deg);
    display: block;
    position: relative;
    left: 25px;
    top: -7px;
  }

  .see-more-link {
    text-decoration: none;
    color: inherit;
  }

  .copyright {
    font-size: 11px;
  }
}
