.feedback
  form
    input.input-name(type='text' name='input-name')
    input.input-email(type="email" name="input-email")
    input.rating(type="radio" name="rating1")
    input.rating(type="radio" name="rating2")
    input.rating(type="radio" name="rating3")
    input.rating(type="radio" name="rating4")
    input.rating(type="radio" name="rating5")
    input.chose-country(type="select" name="country")
    input.message(type="textarea" name="message")
