.feedback
  h1.headline Please leave your feedback
  form.input
    input.input-name(type='text' name='input-name' placeholder='name' size='35')
    input.input-email(type="email" name="input-email" placeholder='email' size='35')
    h2.sub-headline Rating
      .rating
        input.input-rating(type="radio" name="rating1")
        input.input-rating(type="radio" name="rating2")
        input.input-rating(type="radio" name="rating3")
        input.input-rating(type="radio" name="rating4")
        input.input-rating(type="radio" name="rating5")
    h2.sub-headline Please choose your country
    input.input-chose-country(type="select" name="country")
    h2.sub-headline Leave a message. It's important for us!
    textarea.input-message(name="message" cols="40" rows="5")
    input.input-submit-button(type='submit' name='submit-button' value="submit")
