@font-face {
    font-family: 'Gagalin';
    src:
    url('http://hb.bizmrg.com/fonts/gagalin/400.woff2') format('woff2'),
    url('http://hb.bizmrg.com/fonts/gagalin/400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
