@import "../../../../styles/colors.scss";
@import "../../../../styles/media";

.snake {
  position: absolute;
  width: 480px;
  height: 25px;
  background-color: $color-azure;

  @media #{$media-571} {
    display: none;
  }

  &.top {
    top: -24px;
    left: -1px;
    animation: move-top 4s linear infinite;
    animation-fill-mode: both;
    animation-delay: 0s;
    transform-origin: left;
  }
  &.right {
    top: -1px;
    right: -110.3%;
    animation: move-right 4s linear infinite;
    animation-fill-mode: both;
    animation-delay: 1s;
    transform-origin: left top;
  }

  &.bottom {
    bottom: 2px;
    left: -26px;
    animation: move-bottom 4s linear infinite;
    animation-fill-mode: both;
    animation-delay: 2s;
    transform-origin: left bottom;
  }

  &.left {
    left: -26px;
    top: -24px;
    transform-origin: left top;
    animation: move-left 4s linear infinite;
    animation-fill-mode: both;
    animation-delay: 3s;
    background-color: $color-azure;
  }
}

@keyframes move-top {
  0% {
    transform: rotate(0deg) translateX(0) scale(0, 1);
  }

  25% {
    transform: rotate(0deg) translateX(0) scale(1, 1);
  }

  50%, 75% {
    transform: rotate(0deg) translateX(100%) scale(0, 1);
  }

  100% {
    transform: rotate(0deg) translateX(0) scale(0, 1);
  }
}

@keyframes move-right {
  0% {
    transform: rotate(90deg) translateX(0) scale(0, 1);
  }

  25% {
    transform: rotate(90deg) translateX(0) scale(1, 1);
  }

  50%, 75% {
    transform: rotate(90deg) translateX(100%) scale(0, 1);
    transition: background-image 1s;
  }

  100% {
    transform: rotate(90deg) translateX(0) scale(0, 1);
  }
}

@keyframes move-bottom {
  0% {
    transform: rotate(180deg) translateX(-100%) scale(0, 1);
  }

  25% {
    transform: rotate(180deg) translateX(-100%) scale(1, 1);
  }

  50%, 75% {
    transform: rotate(180deg) translateX(0) scale(0, 1);
  }

  100% {
    transform: rotate(180deg) translateX(-100%) scale(0, 1);
  }
}

@keyframes move-left {
  0% {
    transform: rotate(-90deg) translateX(-100%) scale(0, 1);
  }

  25% {
    transform: rotate(-90deg) translateX(-100%) scale(1, 1);
  }

  50%, 75% {
    transform: rotate(-90deg) translateX(0) scale(0, 1);
  }

  100% {
    transform: rotate(-90deg) translateX(-100%) scale(0, 1);
  }
}
